@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@100;800&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: system-ui;
    color: white;
    background: url(LIBRARY_BACKGROUND_1.jpg);
    background-size: cover;

}

nav {
    height: 60px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.789);
}

nav ul {
    float: right;
    font-family: 'Ysabeau Office bold', sans-serif;
    font-size: 25px;
}

nav ul li p {
    margin-left: 20PX;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 30px;
    font-family: 'Ysabeau Office bold', sans-serif;
}

nav ul li {
    display: inline-block;
    line-height: 60px;
    margin-right: 20px;
    vertical-align: middle;
}

nav ul li a {
  color: white;
}

.main h1 {
  margin-top: -30px;
  font-size: 80px;
  text-align: center;
  font-family: 'Ysabeau Office', sans-serif;
  color: whitesmoke;
  margin-bottom: 5px;
}

.main {
  width: 700px;
  height: 550px;
  background: rgba(0, 0, 0, 0.774);
  color: antiquewhite;
  top: 60%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border-radius: 3%;
  padding: 140px 60px;
  font-family: 'Ysabeau Office', sans-serif;
}

.USER {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: -80px;
  right: 250px;
  padding: 0;
}

.login_1 label {
  display: inline-block;
  width: 200px;
  height: 40px;
  font-size: 40px;
  margin-right: 15px;
}

.login_1 input {
  width: 180px;
  height: 40px;
}

.login_1 button {
  width: 70px;
  height: 40px;
  font-size: 25px;
  font-family: 'Ysabeau Office', sans-serif;
}

.checkboxx input{
  width: 30px;
  position: absolute;
  left: 367px;
} 

.checkboxx label{
  font-size: 20px;
  width: 140px;
  vertical-align: center;
  text-align: left;
  position: absolute;
  left: 400px;
  top: 415px;
}