@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@100;800&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: system-ui;
    color: white;
    /* background: url(LIBRARY_BACKGROUND_1.jpg); */
    background-size: cover;

}

nav {
    height: 60px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.789);
}

nav ul {
    float: right;
    font-family: 'Ysabeau Office bold', sans-serif;
    font-size: 25px;
}

nav ul li p {
    margin-left: 20PX;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 30px;
    font-family: 'Ysabeau Office bold', sans-serif;
}

nav ul li {
    display: inline-block;
    line-height: 60px;
    margin-right: 20px;
    vertical-align: middle;
}

nav ul li a {
    color: white;
}

