@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@100;800&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: system-ui;
  color: white;
  /* background: url(LIBRARY_BACKGROUND_1.jpg); */
  background-size: cover;

}

nav {
  height: 60px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.789);
  box-shadow: 0 0 10px rgba(0, 0, 0, 2);
}

nav ul {
  float: right;
  font-family: 'Ysabeau Office bold', sans-serif;
  font-size: 25px;
}

nav ul li p {
  margin-left: 20PX;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 30px;
  font-family: 'Ysabeau Office bold', sans-serif;
}

nav ul li {
  display: inline-block;
  line-height: 60px;
  margin-right: 20px;
  vertical-align: middle;
}

nav ul li a {
  color: white;
}

.pannel {
  width: 700px;
  height: 650px;
  background: rgba(0, 0, 0, 0.774);
  color: antiquewhite;
  top: 60%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border-radius: 3%;
  padding: 140px 60px;
  font-family: 'Ysabeau Office', sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 2);
}

.register label {
  display: inline-block;
  height: 30px;
  width: 150px;
  font-size: 20px;
}

.register input {
  margin-right: 10px;
  width: 90px;
  height: 20px;
  box-sizing: border-box;
  border-radius: 4px;
}

input[type="file"]{
  width: 400px;
}

.register input radio {
  width: 30px;
}

input[type="submit"] {
  font-family: 'Ysabeau Office', sans-serif;
  font-size: 15px;
  height: 25px;
  background-color: rgba(176, 38, 38, 0.858);
}

.pannel h1 {
  position: absolute;
  left: 140px;
  top: 30px;
  font-size: 80px;
  font-family: 'Ysabeau Office', sans-serif;
}